<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Cherish">
    <title>更改成绩信息</title>
</head>
<body>
<div layout:fragment="content">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>更改成绩信息</h3>
        <ul class="breadcrumb">
            <li><a href="/score">成绩管理</a></li>
            <li class="active"> 更改成绩信息 </li>
        </ul>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">

        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class=" form">
                            <form class="cmxform form-horizontal adminex-form" id="scoreForm"
                                  method="post" th:action="@{/score/update}">

                                <input type="hidden" name="id" th:value="${score} ? ${score.id}"/>

                                <div class="form-group">
                                    <label for="sno" class="control-label col-md-2 col-sm-2">学号:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input id="sno" name="sno" class="form-control"
                                               placeholder="学号" minlength="1" maxlength="32" required
                                               th:value="${score} ? ${score.sno}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['sno']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="num" class="control-label col-md-2 col-sm-2">成绩:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="number" id="num" name="num" class="form-control"
                                               placeholder="成绩" min="0" max="100" required
                                               th:value="${score} ? ${score.num}" />
                                        <p class="help-block">
                                            <label class="error-label"
                                                   th:text="${errorMap} ? ${errorMap['num']}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="subject" class="control-label col-md-2 col-sm-2">学科:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select id="subject" name="subject" class="form-control"
                                                th:value="${score} ? ${score.subject}">
                                            <option value="1" th:attr="selected=(${score.subject} eq 1)">高等代数</option>
                                            <option value="2" th:attr="selected=(${score.subject} eq 2)">数学分析</option>
                                            <option value="3" th:attr="selected=(${score.subject} eq 3)">解析几何</option>
                                            <option value="4" th:attr="selected=(${score.subject} eq 4)">计算机</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-8 col-sm-8">
                                        <button class="btn btn-primary" type="submit">
                                            <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
                                            提交
                                        </button>
                                        <button class="btn btn-default" type="reset">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                            重置
                                        </button>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>


</div>

<div layout:fragment="javascript">
    <script type="text/javascript">
        $(function () {
            //菜单的active
            $('.custom-nav .nav-active').removeClass('nav-active');
            $('.custom-nav .active').removeClass('active');
            $("#studentMenu").addClass("nav-active");
            $("#scoreLi").addClass("active");
        });
    </script>
    <p class="msg-block" th:if="${errorMap}">
        <script th:if="${errorMap['msg']}" th:inline="javascript">
            /*<![CDATA[*/
            var msg = [[${errorMap['msg']}]] ;
            $(function () {
                myModalWarning(msg);
            });
            /*]]>*/
        </script>
    </p>
</div>
</body>
</html>
